# Homework

1. Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

In [17]:

age = 10

if age >= 25:
    print("Renting a car is more affordable")
if age <= 25: 
         print("Renting a car is more expensive")

Renting a car is more expensive

2. Create and chain an if-else  statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."

In [22]:
age = 10 
if age >= 25:
    print("Renting a car is more affordable")
if age <= 25 and age >= 18: 
    print("Renting a car is more expensive")
if age < 18:
    print('you cannot legally own a car')

you cannot legally own a car

3. Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

In [57]:
count = 0
letters = ("The quick brown fox jumps over the lazy dog")
vowels = 'aeiou'
for x in (letters):
    count += 1   
print(count) 

for x in letters:
    if x in vowels:
        print(x)

43
e
u
i
o
o
u
o
e
e
a
o

4. Write a nested loop that prints out every piece of clothing from the `couture` list, in every fashionable color from the `panettone` set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

In [50]:
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}
for clothes in couture: 
    for style in panettone: 
        print(clothes, style)

trousers fuchsia
trousers gunmetal blue
trousers auburn
trousers maple
trousers aqua
trousers cerise
trousers burnt sienna
trousers Dark Sapphire
blouse fuchsia
blouse gunmetal blue
blouse auburn
blouse maple
blouse aqua
blouse cerise
blouse burnt sienna
blouse Dark Sapphire
bandana fuchsia
bandana gunmetal blue
bandana auburn
bandana maple
bandana aqua
bandana cerise
bandana burnt sienna
bandana Dark Sapphire
cumber band fuchsia
cumber band gunmetal blue
cumber band auburn
cumber band maple
cumber band aqua
cumber band cerise
cumber band burnt sienna
cumber band Dark Sapphire
blazer fuchsia
blazer gunmetal blue
blazer auburn
blazer maple
blazer aqua
blazer cerise
blazer burnt sienna
blazer Dark Sapphire
vest fuchsia
vest gunmetal blue
vest auburn
vest maple
vest aqua
vest cerise
vest burnt sienna
vest Dark Sapphire
french beret fuchsia
french beret gunmetal blue
french beret auburn
french beret maple
french beret aqua
french beret cerise
french beret burnt sienna
french beret Dark Sapphire
scarf fuchsia
scarf gunmetal blue
scarf auburn
scarf maple
scarf aqua
scarf cerise
scarf burnt sienna
scarf Dark Sapphire
stole fuchsia
stole gunmetal blue
stole auburn
stole maple
stole aqua
stole cerise
stole burnt sienna
stole Dark Sapphire

5. Use range as a loop to calculate the sum of all the numbers from 1 to 100

In [56]:
sum = 0
for numbers in range (1, 100):
    sum = sum + numbers
print(sum)

4950

6. Print the second item in this fruits list.
    ["apple", "banana", "cherry"]

In [58]:
fruits =   ["apple", "banana", "cherry"]
print(fruits[1])

banana

7. Change the value from "apple" to "kiwi", in the fruits list.
    ["apple", "banana", "cherry"]

In [59]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

8. Use the append method to add "orange" to the fruits list.
    ["apple", "banana", "cherry"]

In [60]:
fruits = ["apple", "banana", "cherry"]
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

9. Use the insert method to add "lemon" as the second item in the fruits list.
    ["apple", "banana", "cherry"]

In [65]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,'lemon') 
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

10. Use the remove method to remove "banana" from the fruits list.
    ["apple", "banana", "cherry"]

In [69]:
fruits = ["apple", "banana", "cherry"]
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

11. Use negative indexing to print the 3rd and 2nd to last items in the list.
    ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [74]:
List = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(List[-3])
print(List[-1])

kiwi
mango

12. Use a range of indexes to print the third, fourth, and fifth item in the list.
    ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [76]:
fruits =  ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

13. Use the correct syntax to print the number of items in the list.
    ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [77]:
fruits =  ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
item_number = len(fruits)
print(item_number)

7

14. Use the correct syntax to sort this list in reverse order
    ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [78]:
fruits =  ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits.sort(reverse=True)
print(fruits)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']